.floatingBar {
  position: absolute;
  width: 100%;
  height: 40px;
  background: lightgray;
  /* display: flex; */
  line-height: 40px;
  text-align: center;

  > span {
    margin: 0 5px;
    font-size: 20px;
  }
}
